.text-center {
  text-align: center !important;
}
.alert-danger {
  color: #000000;
  background-color: #69c4bf;
  border-color: #17a2b8;
  transition: opacity 2s ease-out; /* Transition effect for opacity property */
  opacity: 1; /* Initial opacity */
}

div {
  display: block;
  unicode-bidi: isolate;
}
.col-sm-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 100.666667%;
  max-width: none;
}


.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: opacity 2s ease-out; /* Transition effect for opacity property */
  opacity: 1; /* Initial opacity */
}
.hide-alert {
  opacity: 0; /* Set opacity to 0 to hide the alert */
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  transition: opacity 2s ease-out; /* Transition effect for opacity property */
  opacity: 1; /* Initial opacity */
}
.btn-message {
  color: #fff;
  background-color: #449d0d;
  border-color: #3ddc35;
}
.btn-message :hover{
  color: white;
}
a {
  color:#fff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-decoration-color:#fff;
}

 btn-sm{
  color:#fff;
}
