<html>

<head>
    <title>ABOUT
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>

<body>
    

    <div class="hero">
    
        <div class="form-box" id="form-box">
            <form action="{{ url_for('login') }}" method="post">
            <div class = "content">
                <h1>ABOUT</h1>
                <p>Welcome to notice board...! </p>
                <p>
                    The BULLETEIN HUB is an innovative platform designed exclusively for students, combining the convenience of a traditional notice board with the interactivity of a social media app.
                </br>
                1.User-Friendly Interface: The interface is intuitive and easy to navigate, ensuring that students can quickly access the information they need.
            </br>
                2.Notice Posting: Students can post notices regarding various events, announcements, study groups, club activities, and more. 
        </br>    
                3.Messaging System: The platform includes a built-in messaging system that allows students to communicate directly with each other. Whether it's discussing project ideas, arranging study sessions, or simply chatting, students can connect effortlessly.
            </p>
                
            </div>
        </form>
        </div>
    </div>
    

    
    
    

    
</body>
</html>